[2015-03-22 11:11] mathieuchateau opened #1 "eth0 hard coded line 70"
eth0 is expected line 70 in generate_motd.sh.
It should be at least a variable at the top of the file.

On all my CentOS7 VM, no eth0 but ens160 instead (vmware)

[2015-03-30 17:40] willemdh commented on #1
Hey Mathieu,

Thanks for letting me know. I changed some parts of the code so it no longer needs ifconfig. Instead I'm using ip route to get the ip address. Does this work for you?

Grtz

Willem

[2015-06-22 17:43] willemdh commented on #1
No confirmation from @mathieuchateau , I'm considering this solved.

[2015-06-22 17:43] #1 closed

[2015-11-03 19:17] brendanmullan opened #2 "Nice work!"
Hey just wanted to say thanks for this, simple and really effective! Awesome job! :+1:

[2015-11-03 22:07] willemdh commented on #2
@brendanmullan Thanks Brendan, I like it too and I'm using it everywhere :) Using the red theme for production servers and blue for QA / DEV / test systems. I've got a lot of improvements planned, but got my hands full atm with other stuff.

[2015-11-03 22:07] #2 closed

[2015-11-03 22:10] brendanmullan commented on #2
Exactly what I'm using it for! It's so nice to see the server stats on login, saves me looking.

Look forward to seeing what you have planned! :smile:

[2016-06-28 05:05] tavinus opened #5 "Use GNU getopts?"
I believe this script is Linux only right? (no BSD or Mac or anything else?).

Because I was wondering if it would be OK to use GNU getopts to parse the options/parameters. It is quite easy to implement and quite powerful to use. We would have many benefits, like being able to use the parameters in any order, better parameter validation, etc.

The only downside is that GNU getopts is not available

[2016-06-28 06:25] willemdh commented on #5
@tavinus I'm not sure about this. I really like the way I'm using the parameters with the

    while :; do
    case "$1" in

Not sure what you mean with benefits such as being able to use the parameters in any order, better parameter validation?

Another small note is that when I find some time I would like to port it to Bash Windows (http://www.pcworld.com/article/3049664/windows/hell-freezes-ove

[2016-06-28 11:01] tavinus commented on #5
I see...
That is kind of why I asked. Some times there are portability problems and some times there are just preference.

Better validation:
- Nowadays the script doesn't care if one puts rubbish after a valid command
- Verbose -v ONLY works if it comes before any other command
- The script probably shouldn't be able to run both -t theme and -C "text" at the same time, even though this could be f

[2016-06-28 11:09] tavinus commented on #5
Just a note:
On the article he says

It is very much probable that GNU getopt is there then. Since many Linux tools use it.

[2016-06-28 11:47] willemdh commented on #5
Well the way you describe it is actually the way I did parameter handling a few years ago. I just thought that my scripts were cleaner with the way I'm handling it now. (without getop  or getopt)
When I make a change I only need to add a parameter in one line and not in the TEMP=`getopt line.

It's an interesting discussion though. By the way I have a lot more ideas for the FireMotD. You probably

[2016-06-28 19:50] tavinus commented on #5
WOW! Congrats on your marriage! :)

Yeah, saving some slow stuff would be awesome. It takes up to 5 seconds to show on some machines I tested.

Nevermind the getopt, it is fine the way it is. FireMotD does not need too many parameters that could be combined in different ways, so getopt is very optional, and eliminating one dependency is always nice.

I barely played with the html option, but I may

[2016-06-29 01:02] tavinus opened #8 "Pull request break my fork everytime"
Any ideas on why that happens?

Happened again now. This is what my Fork info says:
This branch is 34 commits ahead, 3 commits behind willemdh:master.

I should just be 3 commits ahead I think (added the possibility to get internet IP on Amazon EC2 instances, since the LAN IP is kind of useless on those instances).

You didn't commit anything after accepting the pull request, so I really don't get

[2016-06-29 01:41] tavinus commented on #8
Well.. this time it took me less time to get it back to upstream.
But I am working on a branch now, then I can rebase my master easily (getting the squashed updates from you).

There is another pull request there.
Only relevant for people that use this on a Amazon EC2 instance. But it was bugging me to not have a useful IP there.

Cheers!
Gus

[2016-06-29 01:53] tavinus commented on #5
Have sent you an email with my contact info.
My skype is there as well.

I guess I am going to close this now then.
Cheers!
Gus

[2016-06-29 01:53] #5 closed

[2016-06-29 08:23] #8 closed

[2016-06-30 18:02] tavinus opened #13 "Gray Theme looks bad on you term"
Mannn... The gray theme looks so different here:
![screen shot 2016-06-30 at 2 59 14 pm](https://cloud.githubusercontent.com/assets/8039413/16498717/6848a776-3ed3-11e6-86a1-4509aaf71fba.png)
Can't read half the stuff on your screenshot of the gray.
I need to test it on a 256 color environment I guess?
Not too sure how I can reproduce that...

**EDIT:** I am wondering how I can F-Up a gray theme...

[2016-06-30 19:26] tavinus commented on #13
Sorry for the double-post.
I was checking if my terminal is running in 16 or 256 colors.
To my surprise, even though OSX's terminal is set to `xterm` (not `xterm-256color`) I get 256 colors when testing via perl.
![screen shot 2016-06-30 at 4 20 32 pm](https://cloud.githubusercontent.com/assets/8039413/16501258/e33b854c-3ede-11e6-9e74-8d66d5a785d5.png)
I am using [this script](http://www.robmeerma

[2016-06-30 19:38] willemdh commented on #13
Dont worry too much about it. It could be related to the color scheme im using in ConEmu at my end. But very busy here. Ill try to test.

[2016-06-30 19:50] tavinus commented on #13
Hummm... My $TERM variable was indeed set to `xterm` and it seems that it has 8 colors only.
When testing:
[code]
Then:
$ tput colors
[code]
So it seems that my terminal is 256 capable on both ends, but I am set to 8 colors (because of the `xterm` variable). That is ignored by the perl script though.

I was wondering if it would be nice to have color detection inside FireMotD. It could be just a p

[2016-06-30 20:06] willemdh commented on #13
It would be very nice to be able to detect the number of supported colors! I looked into that a few years ago but its hard to test. Feel free to add a parameter. In a later stadium we could downsample 256 themes if we detect the terminal doesnt support it.

[2016-06-30 20:24] tavinus commented on #13
First thing I wonder is if `tput` is available everywhere. But since `tput`'s info seems to depend on the variable `$TERM`, maybe we can just test the variable itself.

But that detects the setting, not the capabilities. In my case for exemple, I am set to `xterm` (8/16 colors) even though my terminal is capable of 256colors.

I work with some systems that have old stuff that NEEDS non UTF chars a

[2016-06-30 23:03] tavinus commented on #13
I like that 256 color test with the cubes. Is it ok for you if I port that to FireMotD? I mean, make our colortest do that?

I kind of miss having a color map as well (with the numbers). Helps with building the themes. If I change the colortest to just show the cubes, I could make a parameter to also show the colomap (with the numbers). Say calling `FireMotD -C colormap` would trigger mapping. So

[2016-07-01 01:11] tavinus commented on #13
I have a commit of a new gray theme on the dev-tavinus branch of my fork.
It is using 256color mode for many shades of gray. 16color has only 3 or 4 I think, so no real gray 16color theme is possible.

I was wondering if I could use the `GenerateBasic16Color` function to generate a 256 color theme and it actualy did. Not too sure if there are any problems with this approach though.

![screen shot

[2016-07-01 03:24] tavinus commented on #13
Preview:
![screen shot 2016-07-01 at 12 22 52 am](https://cloud.githubusercontent.com/assets/8039413/16511020/0e57cc3e-3f22-11e6-9ec4-95cf6e5e0746.png)

[2016-07-01 05:00] tavinus commented on #13
Gonna close this as I have already rebuilt the gray theme... Cheers!

[2016-07-01 05:00] #13 closed

[2016-08-21 23:16] ThomDietrich opened #15 "Platform string wrong (Raspberry Pi + Raspbian custom build)"
Hey there, I'm bugged by two problems.

1. Platform string wrongly sed'ed:

[code]
  As you can see, there are two matching lines for `Rasp="$(echo "$Dmesg" | grep "Rasp")"`, producing a malformed Platform string.

2. The Platform string is presented with grep coloring:

  ![2016-08-22 01_13_23-start](https://cloud.githubusercontent.com/assets/2870104/17840373/b0b1960c-6805-11e6-8869-c736d5c60d30.

[2016-08-22 06:56] willemdh commented on #15
Thanks for letting me know. I'll look into it, but it might take a few weeks before I find the time.

[2016-08-22 10:01] ThomDietrich commented on #15
I would be interested to get this fixed. Let me create a PR.
Can you tell me (from experience) if changing to `grep "Rasperry"` will be in conflict with some RPi models? I guess not...

[2016-08-22 16:42] ThomDietrich opened #17 "bc Runtime error"
Yet another issue:

    Runtime error (func=(main), adr=15): Divide by zero

Related to Swap if non available (not uncommon on a Raspberry Pi)

[2016-08-28 15:28] #15 closed

[2016-09-01 20:30] willemdh commented on #17
I guess this can be closed now? Let me know if not.

[2016-09-01 20:30] #17 closed

[2016-09-01 21:50] ThomDietrich commented on #17
yes. thanks!

[2016-10-31 16:48] ThomDietrich opened #18 "UpdateCount apt integration"
Hello,
first an addition for your README to trigger the `CountUpdates()` function after an apt upgrade/install/.. was executed:

[code]

And now a request regarding https://github.com/willemdh/FireMotD/blob/master/FireMotD#L83
[code]

Could you please provide a parameter which will not execute `apt update`? It's (most probably) pointless after an `apt upgrade` and does take needlessly long in the

[2016-10-31 17:24] willemdh commented on #18
Happy to accept a pr. I'm a bit busy atm (and I'm not suing apt myself).

[2016-10-31 18:24] ThomDietrich commented on #18
Maybe, I'll have to find the time. Are you okay with the README addition and the suggestion?

[2016-11-04 10:17] willemdh commented on #18
As I have 0 experience with "DPkg::Post-Invoke" I'm not sure, but I suggest you give it a shot. :)

[2016-11-04 10:47] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:47] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-04 10:48] ThomDietrich commented on #18
That part is working! I've been using it for weeks on multiple machines.
I was more interested in the change to the parameters but okay let's just give it a try.

[2016-11-23 02:31] dimon222 opened #21 "Ip address not shown"
I'm user of VPS under OpenVZ.
Not sure if its related to specific virtualization options, but the route is not returning "via" part.
Basically it causes offset for awk arguments, so the f8 is empty string.

What it usually returns (excluding cache part):
192.168.0.1 via x.x.x.x dev interface0  src y.y.y.y

What it returns for my OpenVZ container:
192.168.0.1 dev interface0 src y.y.y.y

So the resu

[2016-11-26 21:25] willemdh commented on #21
@dimon222 I tried many ways to find the ip addresses and route was the most correct. You could check with a regex or so if the output of f8 is an ip and if not retry with f6?

[2016-12-04 21:04] willemdh opened #24 "Show installation date"
Show installation date with command:

`rpm -qi basesystem | grep "Install Date"`

Works only for rpm based os though..

[2016-12-21 20:18] ThomDietrich commented on #24
I was curious about the new "Age =", but it's blank on my system. Looking at the latest commit, that's no surprise... If you only retrieve the age for rpm systems, at least show the Age line conditional...!?

[2016-12-21 20:32] willemdh commented on #24
That was the plan Thom, but my wife prepared dinner...

[2016-12-21 20:42] ThomDietrich commented on #24
Hehe fair enough. I've been digging around a bit but couldn't find a nice solution. Most recommend using tune2fs to get the creation date of the root filesystem, that's however a command only available to root/sudo.

[2016-12-21 20:51] willemdh commented on #24
@ThomDietrich Can you test again. Should be clean now.

![image](https://cloud.githubusercontent.com/assets/6462991/21405659/980d9872-c7c7-11e6-8efc-1b86e92e28f2.png)

[2016-12-22 10:13] ThomDietrich opened #26 "Hide FireMotD version number"
... or add "FireMotD"

Hey Willem, a few of my users mistake the FireMotD version number as the version number of the overall system. I see the two options above, I would prefer the first but that's of course up to you ;) What do you think?

[2016-12-22 10:14] ThomDietrich commented on #24
Yes it's gone again. Thanks ;)

[2016-12-22 14:37] willemdh commented on #24
There seems to be another small issue on CentOS 6 systems:

 Installed = Fri 26 Sep 2014 04:28:14 PM CEST      Build Host: c5b2.bsys.dev.centos.org

I'll need to sed some more.. On my to do

[2016-12-22 14:40] willemdh commented on #26
Hmm. I never had that experience, as 'my users' don't have cli access.

Personally I like the version numbers, as it makes it easy for me. But feel free to make a PR to hide the version with a parameter like -HV|--HideVersion

[2016-12-24 12:47] willemdh opened #27 "Shell Checker"
Shell Checker is not so happy with some of my commands. I'm planning a major rework, so I'm not getting shellcheck errors.

https://www.shellcheck.net/

@ThomDietrich Could you please test if the apt related changes are not giving any issues (as I'm not using apt)

I still need to verify on SUSE.

[2016-12-24 13:27] ThomDietrich commented on #27
Hey @willemdh, I've tested the one change and it's working just as expected. I've pulled the newest revision and everything looks fine.

Btw. just realized that there is an invader theme. You need to add it to the "--help" output.

[2016-12-24 13:29] ThomDietrich opened #28 "PHP memory_limit parsing"
![grafik](https://cloud.githubusercontent.com/assets/2870104/21467183/2be0ff84-c9e5-11e6-9300-c8e7167de616.png)

On my system the memory limit can not be parsed. Reasons:

* php.ini is in a different location
* memory_limit is set to "-1" meaning unlimited

I can add the yet other path and I could translate "-1" to "(unlimited)". Another solution would be hiding of this part. Which would you prefe

[2016-12-24 19:13] dimon222 commented on #28
What location do u have for php.ini and is your php part of some package?

[2016-12-24 19:16] dimon222 opened #29 "Camelcase -> lowercase alias"
Not sure about the reason of using camelcase instead of lowercase for firemotd. Lowercase - harder to make mistake and easier to type.
Is there some existing application with same name?

[2016-12-24 19:21] ThomDietrich commented on #29
Are we talking about the name "FireMotD" or the code style?

[2016-12-24 19:23] ThomDietrich commented on #28
`/etc/php5/cli/php.ini` and no, normal package installation

[2016-12-24 19:37] dimon222 commented on #28
I see, CLI is the one that used by terminal when you call "php" app there, but the one that is referenced in firemotd is actually used by webserver (nginx/Apache/whatever). I believe the webserver's one is supposed to be shown. Check [this](http://askubuntu.com/a/356990/352387).

Are you sure there's no another location for php.ini on your box? "sudo find / -name php.ini"

[2016-12-24 19:57] dimon222 commented on #29
Executable name/Alias.

[2016-12-25 13:08] willemdh commented on #29
@dimon222 Sorry I made the script camelcase and it will stay like that. Got a whole script library using FireXXX syntax. Would take me months to change all that. :)

 Feel free to make a lowercase alias  though..

[2016-12-25 13:08] #29 closed

[2016-12-25 13:13] willemdh commented on #28
@ThomDietrich In time it should evolve to a system where the MotD is generated from a configuration file. I'm  still thinking about the best way to achieve this. First thing on my to do is cleaning up the code and making sure Shell Checker has no more complaints, see https://github.com/willemdh/FireMotD/issues/27

For now I think the easiest workaround might be to hide the memory limit when it's e

[2017-01-08 14:33] willemdh commented on #27
`$ shellcheck myscript
No issues detected!`

Finally finished the Shellcheck cleanup.

@ThomDietrich @tavinus  @dimon222 Could you guys please check if I missed the ball somewhere as I did many small changes to solve all the shellcheck issues. Tx!!

[2017-01-08 16:41] ThomDietrich commented on #27
Great to hear. It's hard to look at the changes across 20 "Spellcheck" commits. Should have squashed these ;) I've pulled the latest revision and everything looks good. One exception:

![grafik](https://cloud.githubusercontent.com/assets/2870104/21751577/9eb0f24a-d5c9-11e6-9a9b-98a666f43434.png)

[2017-01-08 17:37] ThomDietrich commented on #27
Found another bug.

![grafik](https://cloud.githubusercontent.com/assets/2870104/21752032/724481c4-d5d1-11e6-91d7-8bd28d919ea1.png)

Solution: Here https://github.com/willemdh/FireMotD/blob/master/FireMotD#L207-L208 the dot is not needed.

[code]

[2017-01-08 18:08] willemdh commented on #27
@ThomDietrich Thanks for testing. Did an update, it should be fixed now.

[2017-01-08 19:35] ThomDietrich commented on #27
The Platform bug is fixed, thanks!
The alignment bug is now down to 2 missing "#" 😄 May be related to the fact, that my hostname is a bit longer (16 characters)

[2017-01-08 21:26] willemdh commented on #27
Thought I created a system one day which calculated the length of the hostname, there will be some bug somewhere, but I'll have no time anymore this week.

[2017-01-10 00:15] a2mj commented on #21
f6 does indeed pop the IP Address on OpenVZ.

[2017-01-19 11:07] stgarf opened #32 "ProcessCount command has flag typo and extraneous flags"
... and simplify options (`-Afl`) passed to `ps` (down to just `-A`) since we're just passing the output straight off to `wc -l` anyways for a count.

`-f` causes the command arguments to be printed.
[code]
`-l` Long Format.
[code]

I prepared a pull request to fix it in #31 for convenience.

[2017-01-19 12:14] willemdh commented on #32
Thanks I'll merge asap.

[2017-01-25 17:58] willemdh commented on #27
I'm closing this up. i'm not really minding the # issue for now (as in fact I'm using the modern theme everywhere) but feel free to make a new isue f it bugs you. Shellchecker is finally no longer reporting any issues. :)

[2017-01-25 17:58] #27 closed

[2017-01-25 17:59] willemdh commented on #24
Seems all issues with the install date (on CentOS) are fixed. I'm not gonna look into getting this feature for non-rpm systems as I'm not suing those. Closing! :)

[2017-01-25 17:59] #24 closed

[2017-01-25 18:00] willemdh commented on #21
@dimon222 @a2mj Feel free to make a PR to detect and fix this.

[2017-02-06 11:32] willemdh opened #33 "PHP Memory Limit get unique value"
Some php.ini files contain multiple memory_limit directives, as orchestration tools such as Chef etc just append changed directives at the end of the config file...
I'll need to extract the latest value and convert -1 to 'Unlimited'

[2017-02-15 23:55] ThomDietrich commented on #21
`f6` didn't work for me...

[2017-02-16 14:19] #21 closed

[2017-03-01 15:37] ThomDietrich opened #37 "Session Counter not working on RPi"
This is related to the last two commits. I'm currently just seeing
[code]

I'll provide a PR as soon as I found the time to look into this.

[2017-03-01 17:34] willemdh commented on #37
We could do sth like:

[code]

[2017-03-01 17:36] willemdh commented on #32
I guess this can be closed

[2017-03-01 17:36] #32 closed

[2017-03-02 10:08] willemdh commented on #37
Seems it doesn't work properly on Centos 6 too. Looking into it.

[2017-03-02 13:32] willemdh commented on #37
Reverted this change for now, made a test function. This is getting more complicated then I thought. Although it is a nice to have it will have to wait for some other changes.

[2017-04-23 18:54] dimon222 opened #38 "CPU counter not working in OpenVZ"
Getting this:
lscpu: failed to determine number of CPUs: /sys/devices/system/cpu/possible: No such file or directory

Debian 7 (Jessie)
OpenVZ

Currently digging on VPS, maybe its hidden by hypervisor.

[2017-04-23 19:02] dimon222 commented on #38
Apparently throws this error when "lscpu" is ran, so next values are not shown as the result of error:
https://github.com/willemdh/FireMotD/blob/master/FireMotD#L283-L286
![image](https://cloud.githubusercontent.com/assets/2671025/25316471/cfad0cc6-2835-11e7-9b34-1abbd57f37b9.png)

[2017-04-23 19:08] dimon222 commented on #38
Yeah, seem to be related to specifically OpenVZ container.
People are suggesting to use cpuinfo as alternative.
Here's sample code
https://github.com/apache/incubator-trafodion/pull/73/files

[2017-05-05 07:34] #38 closed

[2017-05-08 07:32] #28 closed

[2017-05-08 07:32] #33 closed

[2017-05-08 14:26] ThomDietrich opened #44 "FireMotD stuck on new php code"
After the latest change with https://github.com/willemdh/FireMotD/commit/b3e92aa2fab44928b534b6e9aced1c6a6b69ba9b FireMotD will get stuck on `PhpMaxMemory=$(tac $PhpMaxMemory ...` if PhpMaxMemory was not previously defined (none of the two above conditions were met). On our system no php.ini exists, The check should be skipped in this case.

As it is right now, FireMotD will hinder the user from l

[2017-05-09 07:45] willemdh commented on #44
Hmm in the past I had such an issue, entering Ctrl-C helped continuing the logon.

I added the PhpMaxMemory check as suggested by yourself. Can you check if it's ok now?

[2017-05-09 10:48] ThomDietrich commented on #44
Pressing Ctrl+C helped. The problem is, that without a defined `$PHPMaxMemory` the command `tac | ...` will wait for stdin input, hence block the normal execution.
The new code is working and also solves what I initially reported in #28 in a reasonable way. :+1: Thanks

[2017-05-09 10:52] ThomDietrich commented on #37
Tested and working on RPi. Issue can be closed if you are seeing good results on Centos ;)

[2017-05-09 14:30] #44 closed

[2017-05-09 14:30] ThomDietrich commented on #44
Improvement proposed in #45

[2017-05-10 12:36] ThomDietrich opened #46 "Application specific addition (openHAB)"
@willemdh just wanted to ask before I invest any effort. Would you consider merging openHAB specific statistics? (version, opstate, overall devices and rules defined... could be a oneliner)
Obviously that's pretty specific for one application and might exceed the scope and maintainability of the one FireMotD script file...

[2017-05-10 14:11] willemdh commented on #46
@ThomDietrich I absolutely have no problem with that. As long as you provide the necessasry if variable exists => show variable code
And also when I ever have the time and energy to convert FireMotD so i saves all the information in a .json file, you help me port this.

Fyi, I'm heavily invested in Nagios and Elasticsearch and it's on my to do to add the Nagios Core, Elasticsearch, Logstash and Ki

[2017-05-10 17:35] ThomDietrich commented on #46
Hey,
sure thing! I totally get your point. With this confirmation I'll look into this hopefully soon.

Nagios is also part of my setup (although not on the systems I'm using FireMotD on) and I've worked with the ELK stack for quite some time (not anymore currently). Both would be great additions.

Regarding the json: Could you elaborate? You want to generate all information upfront (e.g. via cron)

[2017-05-11 09:19] willemdh commented on #46
Correct, this has been on my to do for quite some time. Instead of using /var/tmp/updatecount.txt i would like to write to a .json file which contains all the info. On logon, only uptime, cpu usage, cpu load, memory, swap and disk usage, sessions and processes would have to be generated.

The big question is if and when I'll have time for this of course...

About the git flow options, I'll think a

[2017-05-14 12:34] #26 closed

[2017-05-21 20:54] willemdh opened #50 "Dev Branch"
@dimon222 @ThomDietrich

So I did some tests with the dev branch and made a pull request. Is it possible to give you push permissions on the dev branch only somehow? Should I make the master branch protected?

[2017-05-22 02:22] dimon222 commented on #50
There are few options.
1. Make master protected. All the work is being done based on merges only. Preferably that there's you who can review pull requests, and decide accordingly to merge or to refuse.
2. Transfer project to newly created Organization.
![image](https://cloud.githubusercontent.com/assets/2671025/26290209/f830df2a-3e73-11e7-8d3b-db111dda19e3.png)
Github is claiming that there's more

[2017-05-22 02:30] dimon222 opened #51 "Unit testing"
I know I have done some pull requests that at some point were breaking work on some VPS configs.
Would be good to have some Unit testing for current script, so it can be prevented in the future (or at least  warned before it gets merged by accident).

It doesn't seem to be trivial at all, since we basically have one big bash script. So I quite expect this issue to be opened for a while.

There are

[2017-05-22 09:12] willemdh commented on #51
Definitely sounds like a good idea. Imho the difficulty will be the wide array of os'es FireMotD supports. What exactly do you mean with 'more atomic functions'?

[2017-05-22 09:20] willemdh commented on #50
Hmm, I prefer to stay on GitHub for now. A colleague of me is setting up an on-premise GitLab server, so migrating to GitLab might be something to consider in the future if the protected branch option is not working for me.

So I sent @dimon222 and @ThomDietrich a collaborator request. Please o please don't abuse your new powers.. So from now on please commit to the dev branch and create a pull re

[2017-05-22 10:44] willemdh opened #53 "Json Config File"
As I've said a few times before, I would like to generate the information and write it to a .json document. Information that isn't necessary to load every logon, will be queried with a cronjob every X hours, which should result in faster FireMotD generation..

For this to work, there will be another package requirement, which is https://github.com/stedolan/jq

This is the best option for working w

[2017-05-22 11:00] dimon222 commented on #51
Bats is mainly used for one-liner tests.
I'm not quite sure if there's any other approach other than having big amount of functions, which at this moment FireMotD doesn't really have.

[2017-05-22 11:10] ThomDietrich commented on #50
Hey, the way you have it right now is okay with me. I'd actually prefer to still have merges to master only done by you! I'll do my development in my own fork on a feature branch and create PRs as soon as they are ready.

Let's see how it goes. Thanks for the trust and Happy Hacking! I'll write you a mail tomorrow.

[2017-05-22 17:33] willemdh commented on #53
@dimon222 @ThomDietrich  Seems like in Ubuntu you need to compile it :(

    ./configure && make && sudo make install

https://stedolan.github.io/jq/download/

This is kind of annoying I guess for everyone not using yum...,?

[2017-05-22 17:49] ThomDietrich commented on #53
Repository installation confirmed on Ubuntu 14.04 and Raspbian 8 (which I didn't expect).
No problems on my side.

[2017-05-22 17:54] willemdh commented on #53
Can you post the full installation instructions for Ubuntu? Tx

[2017-05-22 18:33] willemdh commented on #50
Posting my workflow to start 'hacking' on a new idea for future reference, let me know if you have any suggestions.
[code]
Start playing
[code]
GitAll is an alias which contains

[code]

[2017-05-22 19:25] dimon222 commented on #53
Debian 8 - available in official repo via "sudo apt-get install jq"
![image](https://cloud.githubusercontent.com/assets/2671025/26324925/d665fd00-3f02-11e7-8cf5-e6fa8562e3d3.png)

[2017-05-22 19:49] ThomDietrich commented on #53
What do you mean with full? This will do
[code]

[2017-05-22 20:24] dimon222 commented on #50
Possible via [Hub](https://github.com/github/hub) + [Hub-Github Gem](https://github.com/defunkt/github-gem) combo

PS: won't work if u don't have Hub installed and configured to work with github
![image](https://cloud.githubusercontent.com/assets/2671025/26326855/18695244-3f0b-11e7-85ef-53860b306a58.png)

[2017-05-22 20:26] ThomDietrich commented on #50
Honestly I do my git'tery in a graphical UI (SmartGit or GitKraken). I think GitKraken even supports GitHub PRs.

As for the workflow, the first two commands can just as well be replaced by `git checkout -b feature123`. Descriptive names are normally better for branches. I like to work with names like "exception-bugfix" or "feature/ip-resolution-enhancement".

I personally don't like the GitAll al

[2017-05-26 06:27] CyberKiller40 opened #57 "Show real memory use (without buffers/cache)"
Current: FireMotD shows the whole allocated ram usage, which is not very useful, cause GNU/Linux systems usually allocate close to the whole available ram.

Proposed: show only the really used memory, from the "-/+ buffers/cache:" line of /usr/bin/free

[2017-05-26 06:30] CyberKiller40 opened #58 "nginx version shown only when ran as root"
Current: on a machine with a running nginx server, using FireMotD as root will show the version of nginx; when ran as a normal user, this information is not shown

If possible please make this info show up when running as a normal user also.

[2017-05-26 21:01] dimon222 commented on #58
Is nginx symlink up for user that u have?
If not, then global reference via "nginx -v" obviously will not work.

[2017-05-27 08:01] CyberKiller40 commented on #58
nginx is in /usr/sbin/nginx which is not on PATH for the normal user, but if called directly then it's executable... So I made a symlink to /usr/bin/nginx and now it's working, thx.

[2017-05-27 10:49] #58 closed

[2017-07-11 14:25] willemdh commented on #53
@tavinus @ThomDietrich

Feel free to checkout dev-willem

Test run with `sudo ./FireMotD -E`

Output /var/tmp/FireJson.json:

[code]

So my plan is to build the json data file in steps. That way I can work on it when I have the time and the old method will keep working for some time.

More-utils is required too now in orde to use sponge. https://rentes.github.io/unix/utilities/2015/07/27/moreutils

[2017-07-11 15:37] ThomDietrich commented on #53
Sounds good and going at it step by steps is reasonable! Way to go! :tada:

[2017-07-12 13:10] willemdh commented on #53
@ThomDietrich @dimon222  Ok, forget what I said, I reworked the whole thing. No backwards compatibility, as it's just too much hassle. So most functionalities have been ported. All data is written to and read from the json file /var/tmp/FireMotD.json

Could you please test it and let me know what you think. I would want to push to master asap. Only the invader and the html theme haven't been porte

[2017-07-13 19:48] willemdh commented on #53
Did another commit with some bugfixes.

[2017-08-26 16:07] willemdh commented on #53
@ThomDietrich @dimon222
Ok, fixed the invader them today. Unless you guys give me a good reason not to update master with dev-willem in the next week I'm going into production.

[2017-08-27 09:47] ThomDietrich commented on #53
Hey, I was a bit busy lately. The proposal and code I saw looked good and I'm sure you did a great job implementing and testing everything. I'll speak up if problems present themselves ;)

[2017-08-31 19:22] willemdh commented on #53
Moved dev-willem to master. Closing this issue. Feel free to make new ones if you do encounter problems.

[2017-08-31 19:22] #53 closed

[2017-08-31 19:22] willemdh commented on #50
Closing this.

[2017-08-31 19:22] #50 closed

[2017-08-31 19:23] willemdh commented on #46
@ThomDietrich The new JSON configuration file should allow you to easily add custom checks which could even require sudo permissions.

[2017-08-31 19:24] willemdh commented on #57
This is probably a good idea. I'll look into it.

[2017-09-03 09:35] dirkclemens opened #65 "most functions no more supported in Raspbian GNU/Linux 9 (stretch)"
since upgrading to Stretch most functions no longer report correct values:
[code]

[2017-09-04 06:37] willemdh commented on #65
You need to configure the cronjob to get and store this information in FireMotD.json.

`/usr/local/bin/FireMotD -S`

Let me know how it goes.

[2017-09-04 13:11] ThomDietrich commented on #65
@willemdh to prevent this misunderstanding in future maybe it would be a good idea to show a warning when the json is old or missing?

[2017-09-04 21:21] willemdh commented on #65
@ThomDietrich Good idea, I'll see about adding that. Also you need the packages `moreutils `and `jq` to make it work.

[2017-09-06 13:59] ThomDietrich commented on #46
Amazing!
I'm still willing to do these additions and with the new config this might become easier 👍
This will take me a few more weeks to look into...

[2017-09-10 11:28] willemdh commented on #46
@ThomDietrich I made an example with Elasticsearch version.
1. Add your custom addtion to FireMotD.json in FireMotD
2. Create Explore function
3. Regenerate FireMotD.json
4. Add conditionals to theme functions

Feel free to comment if you have any ideas making it easier

[2017-09-11 17:44] willemdh opened #66 "Legal banner"
@dimon222 @ThomDietrich

I'm working in dev-willem on a way to integrate an official banner, which would show some legal information. I'm still thinking about how to implement it. So I'm giving you guys the chance to discuss this topic with me. I don't have very much time left to implement this (need it for work), but I can always change some things later.
So I have the following questions:
- Wher

[2017-09-11 18:01] willemdh commented on #66
Or a smaller version:

`Unauthorized access to this system is forbidden and will be
 prosecuted by law. By accessing this system, you agree that your
 actions may be monitored if unauthorized usage is suspected. `

[2017-09-11 20:12] willemdh commented on #66
It would basically look this once it's finished:

![image](https://user-images.githubusercontent.com/6462991/30294640-18e177f2-973e-11e7-9fe5-a2ea6778f0da.png)

Or the short version:
![image](https://user-images.githubusercontent.com/6462991/30294670-345b5070-973e-11e7-9011-c9fcb8f2b5b5.png)

[2017-09-11 21:31] dimon222 commented on #66
I think saving in separate file along with FireMotD distribution or inside FireMotD.json is the way to go. Also short version looks more friendly. We can also try change color has to be changed to make it more visible.

[2017-09-12 08:39] willemdh commented on #66
@dimon222 Thanks for your input. In the meantime, I discussed this with my security officer and we decided that the banner should be shown pre-login. As otherwise the consent is implicit.
Therefore I won't go through with this implementation for now. We will add a banner file in /etc/ssh and set the banner directive in sshd_config.

[2017-09-12 11:03] ThomDietrich commented on #66
That sounds like a good plan!

As for the idea to show some free text inside FireMotD: I still like the idea as a feature and would vote to make this an optional parameter in FireMotD.json. The reasons are simple:

* FireMotD.json is the place for data used by FireMotD - check
* The user can edit the file easily - check
* The user is not forced to create or manage yet another file

One downside is

[2017-09-12 13:43] willemdh commented on #66
I'm not sure if you read my latest post on this topic? But As I have the code ready to add an extra block

[2017-09-12 13:55] ThomDietrich commented on #66
...was directed at your last post. I'm doing (or did, not sure) a similar thing with sshd_config.

No hurries. Not sure if I need this feature personally. I did already add a banner message to the .bash_profile of openHABian.

[2017-09-12 18:56] willemdh commented on #66
The use case I'm seeing for me, is that I could for example add the primary and secondary contact for some of our servers. I'll keep this issue open untill a 'free message' banner is implemented.

[2017-10-04 13:19] dimon222 commented on #18
Should be covered #69

[2017-10-04 13:19] #18 closed

[2017-10-06 18:58] StormTrooper opened #70 "LeftoverChars formula missing from StartGrayTheme"
This code is missing from the StartGrayTheme function.
[code]

Otherwise results in a error:
head: invalid number of bytes: /dev/zero

[2017-10-06 19:03] willemdh commented on #70
Ah really sorry I keep forgetting the grey theme in my tests. I'll look into it. Thanks for letting me know.

[2017-10-07 15:03] dimon222 opened #71 "Tree cleanup"
Just noticed that I made commit tree ugly compared to early merges.
Can we squash+rebase couple of last commits into respective one-commit-per-PR merge?

![image](https://user-images.githubusercontent.com/2671025/31309118-19a0b192-ab4f-11e7-8874-1dc3842bcb30.png)

[2017-10-07 15:04] dimon222 commented on #57
Fixed with #68

[2017-10-07 15:04] #57 closed

[2017-10-07 15:07] CyberKiller40 commented on #57
Thanks!

[2017-10-07 15:50] willemdh commented on #71
Hmm never had to squash rebase. What exactly does it require?

[2017-10-07 15:55] willemdh opened #72 "Json themes"
I'd love to one day implement a system where themes are loaded from json files. Could take some time...

[2017-10-07 16:16] dimon222 commented on #71
Well, I meant just bunch of fixups and rewordings.

See example of how I would like to make it look:
https://github.com/dimon222/FireMotD/commits/master
![image](https://user-images.githubusercontent.com/2671025/31309756-68e9c63a-ab59-11e7-89e1-e54a379d3af5.png)

[2017-10-07 16:37] willemdh commented on #71
sure go ahead

[2017-10-07 16:38] dimon222 commented on #71
Its rebase, so unfortunately you might have to unprotect it for a moment, so I can update the tree. Once i'm done, you can protect it back.

[2017-10-07 16:44] willemdh commented on #72
Just some random ideas:

[code]

[2017-10-07 16:50] dimon222 commented on #71
Just saw you did it, pushed updated tree, all good.
You can protect it back.

[2017-10-07 16:51] willemdh commented on #71
try again now

[2017-10-07 16:53] dimon222 commented on #71
All good, you can protect it back now.

[2017-10-07 17:43] dimon222 commented on #37
Is it resolved?

[2017-10-07 17:53] willemdh commented on #37
Kept this open as i want to i.prive session info

[2017-10-07 18:00] willemdh commented on #51
I'm going to assign this to you @dimon222
As I never used Bats

[2017-10-07 19:20] dimon222 commented on #71
Can't protect master branch (pls protect it back). Once you done, i'll close this issue.

[2017-10-07 21:01] #71 closed

[2017-10-07 22:30] willemdh commented on #70
Should be ok now by .https://github.com/willemdh/FireMotD/pull/74 Let us know if not.

[2017-10-07 22:30] #70 closed

[2017-10-11 20:20] willemdh opened #75 "Issues with usage of free on CentOS 6"
@dimon222 @ThomDietrich

Discovered a new bug with free on CentOS 6. Results is an error message at logon. I'll need to investigate further asap..

[code]

Version:

[code]

[2017-10-11 20:28] willemdh commented on #75
Found the problem.

`free --version` does not work on CentOS 6 which uses `procps version 3.2.8`

`free -V` does work and solves the problem for me on both CentOS 6 and 7.

@dimon222 @ThomDietrich

Can someone asap confirm  `free -V` works on whatever OS you guys are using? Tx

[2017-10-11 21:26] dimon222 commented on #75
Interesting, never expected such behavior.
free -V perfectly works on my Ubuntu and other Debian based distributives.

[2017-10-14 11:52] ThomDietrich opened #77 "Check rw filesystem"
One initial action should be a test if the data file can be stored. See: https://community.openhab.org/t/oh2-raspi3-crash-and-lost-config/34916/12

[2017-10-15 01:36] dimon222 commented on #75
Should be fixed by now I assume

[2017-10-15 01:36] #75 closed

[2017-10-15 04:20] dimon222 commented on #77
Is it about installation makefile or state json file? I mean, if u cant even clone the project (no permission?), its obviously you won't reach the state of checking RW filesystem.

[2017-10-15 15:12] willemdh commented on #75
@dimon222 yes indeed fixes tx

[2017-10-15 16:51] ThomDietrich commented on #77
I'd say these are different shoes. In the particular case the ro filesystem was configured after the initial setup. I would argue, that there are many reasons why a certain file can not be written.

I suggest to add a routine to check the ability to write to the given file when starting the script. wdyt?

[2017-10-15 17:30] dimon222 commented on #77
Sure, we can do it at the beginning of script or before export
https://github.com/willemdh/FireMotD/blob/master/FireMotD#L693

[2017-11-16 10:42] willemdh opened #78 "Update Option"
I was thinking of adding an auto update option. Sth like

`sudo ./FireMotD --Update`

[2017-11-16 11:28] ThomDietrich commented on #78
Could you elaborate on "auto update"?

[2017-11-16 12:27] willemdh commented on #78
Well it needs to be triggered of course :) (by whatever automation tool / cronjob etc)

[2017-11-16 13:54] ThomDietrich commented on #78
Ah... I see. Well I do this via git. Yes, not everyone uses the git way of setting FireMotD up.

How about a dedicated script to initially install and later update FireMotD? Would decouple the the installation from execution and would ease setup while at it.

The instructions for a new user would be:

[2017-11-16 17:05] willemdh commented on #78
Also good for me :) Do you have something that works already?

[2017-11-16 17:41] ThomDietrich commented on #78
My process is based on git. I'd not recommended that for others as git is not installed by default...
Hence the answer is sadly no. Sorry

[2017-11-16 22:47] willemdh commented on #78
ok i'll put it on my to do

[2017-12-08 15:06] kingy444 opened #82 "jq: command not found"
**Issue Type**

Bug report

**Issue Detail**

* FireMotD version: FireMotD v8.09.171011
* Platform = Raspberry Pi 3 Model B Rev 1.2
* OS distribution: Raspbian GNU/Linux 8 (jessie)
* OS version: Linux 4.9.35-v7+

**Expected Behavior**
The current release is not working correctly on raspberry pi - i am running FireMotD 6.13.170302 on one pi successfully and 7.05.170509 on another.
Neither successfu

[2017-12-08 15:33] ThomDietrich commented on #82
Hello @kingy444,
the error says `jq` can not be found on your system. Why not simply install it 😄  https://github.com/OutsideIT/FireMotD/blob/master/readme.md#install-dependencies

[2017-12-08 16:03] willemdh commented on #82
We should probably best check for it and suggest installation

[2017-12-08 16:25] ThomDietrich commented on #82
My opinion would be the dedicated installation and update script mentioned in #78

[2017-12-08 16:27] ThomDietrich commented on #82
Ah you mean to check prerequisites while starting FireMotD. Yes I agree. The same goes for the other tools used, potentially you should also check for a supported distribution (?) and for #77

[2017-12-08 21:09] kingy444 commented on #82
didnt even know what jq was sorry. didnt realise that their was new install requirements. ill try that when i get home thanks

[2017-12-09 00:59] ThomDietrich commented on #82
this error message is always a bit misleading. Happened to us all ;)
You might be happy to hear that @willemdh already thought of a solution, see #83

[2017-12-09 00:59] #82 closed

[2017-12-28 17:42] msebald opened #87 "syntax error, unexpected IDENT"
**Issue Type**

Bug report

**Issue Detail**

* FireMotD version: 8.13.171221
* OS distribution: Debian
* OS version: 9.3 Stretch

**Expected Behavior**

No compile error. ;-)

**Actual Behavior**

When I start _/opt/FireMotD/FireMotD -S_ I see the following error:
[code]
The machine is a fresh installed Debian Stretch 9.3, I installed FireMOTD through openhabian-config on this machine.

[2017-12-28 20:21] willemdh commented on #87
Weird it seems to work for me, but on red hat. Must be an issue in last pr with the explore Host function. Sry I have no Debian to test on.

[2017-12-28 20:26] msebald commented on #87
@willemdh Is there something I can do?

It looked to me as if FireMOTD was parsing the file /etc/os-release which in my case has the following content:

[code]

The file content in principle (also the quotings) looks pretty much the same on my Raspberry Pi 3 and openHABian. But there I have a v7.x Version of FireMOTD, which is very different from the current one, as I even cannot find _Release.Val

[2017-12-28 20:31] willemdh commented on #87
Yes there have been quite a lot of changes. The problem is in the ExploreRelease function I think. I'm in my couch atm, not sure if I'll  e able to get out of it soon... Typing on smartphone now.

[2017-12-28 20:38] msebald commented on #87
@willemdh No worries, I don't want to ruin your evening. My openHAB box will run without FireMOTD. But it would be great to have a running version again, also the errors in the console don't make me very happy. ;-)

As said, if I can test, I am happy to do.

It is a brand new installed Debian Stretch amd64 box, the only changes I made is that I installed openhabian-config from Git and also install

[2017-12-28 21:28] willemdh commented on #87
Can you try #88

[2017-12-28 21:37] msebald commented on #87
Thank you! Unfortunally the problem is still there:

[code]

[2017-12-28 22:17] willemdh commented on #87
can you try

and can you first execute
`sudo rm /var/tmp/FireMotD`
`.\FireMotD -V`
`sudo .\FireMotD -S`
`.\FireMotD -v -T Modern`

and post output. Tx

[2017-12-28 22:21] msebald commented on #87
Sure, with pleasure. I did not use sudo as I'm in as root. Here's the output:

[code]

[2017-12-28 22:57] willemdh commented on #87
Please try one more time with #88
The regex was wrong..

[2017-12-28 23:06] msebald commented on #87
Works! :-) Runs trough without an error. Also I see the nice output of ForeMotD when I log into the system. :-)

[2017-12-28 23:06] msebald commented on #87
Thank you and sorry for messing up your evening on the sofa. ;-)

[2017-12-28 23:13] willemdh commented on #87
np i'll merge the pr

[2018-01-06 18:58] willemdh commented on #87
This can be closed I suppose

[2018-01-06 18:58] #87 closed

[2018-01-06 19:00] willemdh commented on #72
Been working on this lately, see branch dev-willem-generator. Preview:

![image](https://user-images.githubusercontent.com/6462991/34642961-42c66d18-f31c-11e7-9f94-58095cdcccda.png)

[2018-01-15 17:06] willemdh commented on #72
closing this as latest pr solved this.

[2018-01-15 17:06] #72 closed

[2018-01-15 17:07] willemdh opened #90 "Add java information"
**Issue Type**

Enhancement Request

**Issue Detail**

I'd love to add information about he Java type and version used, such as openjdk vs oracle jdk.

[2018-01-16 17:22] ThomDietrich opened #91 "Highlighting noteworthy data"
Hey @willemdh and all,
I just realized that even though FireMotD presents a lot of useful information I actually never "check" it for irregularities, even though that is how we ideally should use it.

Therefore I suggest to introduce a threshold (max AND/OR min) for values. If outside of the threshold, a value will be presented in a theme-specific highlighting style. Wdyt?

Here's a super professi

[2018-01-16 17:25] ThomDietrich commented on #90
Please also consider Zulu Java:

[code]

[2018-01-17 01:50] dimon222 commented on #91
I guess if we want to do that, we will have to start collecting historical data, which will be completely different level.

[2018-01-17 01:51] dimon222 commented on #90
Not sure how feasible it is, considering there are bunch of configurations including userspace specific java versions...
Unless its meant java thats configured for root user only?

[2018-01-17 08:42] willemdh commented on #91
Hey all, this has been on my to do for a long time. Not sure why we would have to collect historical data @dimon222 . We could just set a MaxValue and / or MinValue in the json exportfile and a ValueWarningColor and ValueCriticalColor in the new json templates. Thanks for making the issue.

[2018-01-17 08:51] willemdh commented on #90
My very basic plan was basically to do something like this:

[code]

Then show `Java(TM) SE Runtime Environment (build 1.8.0_131-b11)`

In the Zulu java's case I guess it would show:

`OpenJDK Runtime Environment (Zulu Embedded 8.25.0.76-linux-aarch32hf) (build 1.8.0_152-b76)`

But I would make this an optional addition to the json exportfile. So users would have to add it to their json export fil

[2018-01-17 12:02] ThomDietrich commented on #91
@dimon222 I agree with Willem. That was not my intention and I think we can leave these areas to more complex tools like Nagios.

@willemdh sure thing. You've mentioned Warning and Critical, that is already more complex than my proposal and I'm not sure if it is needed.

[2018-01-23 07:53] j0inty opened #95 "make uninstall do not remove the cron job"
**Issue Type**

Missing command to remove the cron job file.

Bug report / Enhancement Request

**Issue Detail**

* FireMotD version:
branch: master

* OS distribution:
* OS version:

**Expected Behavior**

**Actual Behavior**

**How to reproduce Behavior**

[2018-03-14 20:41] zeleanon opened #99 "Fedora 27 - Unable to parse ip. Please debug"
IP not displayed properly on Fedora 27

Enhancement Request

When using FireMotD on Fedora 27, the ip address is not displayed but instead the error message in the title. This appears to be due to a newer version of "ip", which on my machine shows uid at the end of line instead of the IP address, making it not match the criteria  and hence it displays the error.

A change on line 221 of /usr/local

[2018-03-14 20:52] zeleanon commented on #99
Actually, as a side note, this appears to be an issue on Cent as well. If you run the command in shell, ip route get 8.8.8.8 | head -1 | cut -d" " -f8, you'll get nothing on my up to date CentOS box. f7 gets the ip. The only reason it works on Cent is because the other command, ip route get 8.8.8.8 | head -1 | awk -F' ' '{print $(NF)}' does work. On Fedora, it returns my uid. Not sure how to fix t

[2018-03-15 05:51] dimon222 commented on #95
Did i get it right, just a command to remove cronjob is missing from uninstall? Should be a question of one single rm statement then.

[2018-03-15 05:57] dimon222 commented on #99
If this is only about **ip** version, then we can theoretically look after implementing something similar to **free** adjustment in [here](https://github.com/OutsideIT/FireMotD/blob/master/FireMotD#L378)

Do you mind mentioning versions of your *ip* tool on both of your OS?
Just type
`ip -V`

I checked on my Debian machines, and all got so far:
iproute2-ss140804

[2018-03-15 06:20] zeleanon commented on #99
CentOS 7: iproute2-ss130716
Output of ip route get 8.8.8.8 | head -1:

8.8.8.8 via 192.168.0.1 dev kbem1 src 192.168.0.100

Fedora 27: iproute2-ss180129
Output:

8.8.8.8 via 192.168.0.1 dev enp2s0 src 192.168.0.127 uid 1001

[2018-06-15 04:41] IamUSER commented on #99
This seems to be a better fit on Kali/Debian with iproute2-ss180402
`HostIp="$(${IpPath} route get 8.8.8.8 | head -1 | cut -d" " -f7)"`

This gives me "uid" as a result.
`HostIp="$(${IpPath} route get 8.8.8.8 | head -1 | cut -d" " -f8)"`

Just adding to the thread since I encountered the issue on my RPi project.

[2018-06-15 04:58] IamUSER commented on #99
I'm also a fan of this option for the public IP.
`HostIp="$(curl ipecho.net/plain; echo)"`

[2018-06-28 18:43] willemdh commented on #65
@mikechabot you can already define in the template when information is updated. Just put @logon instead of @cron check https://github.com/OutsideIT/FireMotD/blob/master/FireMotD-reference.json

[2018-07-13 10:46] willemdh commented on #95
@dimon222 Please check https://github.com/orgs/OutsideIT/teams/firemotd/discussions/4

The Makefile should be updated too, but as I'm not really using that..

[2018-07-13 10:49] willemdh commented on #78
@ThomDietrich Check https://github.com/orgs/OutsideIT/teams/firemotd/discussions/4

Code should be added so the required packages are installed when apt-get is used too

[2018-07-16 14:43] willemdh commented on #99
I'm closing this issue, please try latest version. If #108 doesn't work, met me know and I'll reopen.

[2018-07-16 14:43] #99 closed

[2018-07-16 14:47] willemdh commented on #95
Just an fyi, the makefile will need additional changes to make it work with the new templates and themes.

Please use

`curl -s https://raw.githubusercontent.com/OutsideIT/FireMotD/master/FireMotD -o ~/FireMotD && chmod 755 ~/FireMotD && sudo ~/FireMotD -I -d`

to install FireMotD. I'll try to make an uninstall function too someday.

[2018-07-16 14:48] willemdh commented on #78
Added the required code for apt packages. Closing this issue, please use:

`curl -s https://raw.githubusercontent.com/OutsideIT/FireMotD/master/FireMotD -o ~/FireMotD && chmod 755 ~/FireMotD && sudo ~/FireMotD -I -d`

[2018-07-16 14:48] #78 closed

[2018-07-16 14:49] willemdh commented on #37
For me it works fine, so I'm closing this for now. If it gives issues for you, let me know and I'll reopen.

[2018-07-16 14:49] #37 closed

[2018-07-22 18:23] marcelser opened #123 "FireMotD v9.16.180717 fails to work after upgrading from v8.08.171007"
**Issue Type**

Bug report

**Issue Detail**

* FireMotD version: 9.16.180717
* OS distribution: ubuntu
* OS version: 18.04

**Expected Behavior**
FireMotD displays correct information on login

**Actual Behavior**

after logging it is shown
`FireMotD: Info: No FireMotD ExportFile detected. Please generate with “sudo .\FireMotD -S”`

Trying to run
`sudo .\FireMotD -S
`
I get:

`018-07-22 18:30:05,

[2018-07-22 19:40] willemdh commented on #123
Please run makefile again or run sudo FireMotD -I -d

[2018-07-23 15:10] willemdh commented on #123
Released version 10.01 with some extra info which should point users to the install command. I'm closing this, please let me know if you have still problems.

[2018-07-23 15:10] #123 closed

[2018-07-24 21:14] willemdh commented on #65
Closing this, a warning is shown when the exportfile is unexistant

[2018-07-24 21:14] #65 closed

[2018-07-25 09:30] willemdh commented on #123
https://github.com/OutsideIT/FireMotD/releases/tag/v10.03.180725 should fix another issue with default template type not overwriting

[2018-08-29 10:03] Tontonitch opened #125 "Slowness of themes based on theme files"
**Issue Type**

Enhancement Request

**Issue Detail**

Looking to update from 7.11.170608 to the current 10.03.180725, I've noticed that executing firemotd using all the themes based on a theme file are slower.
On version 7.11.170608 every themes were included inside the firemotd script.

It would be nice to have better performances, it it is at least 2 times slower than before.

For info:

| vers

[2018-08-29 10:06] Tontonitch opened #126 "Orange theme not there anymore"
**Issue Type**

Bug report

**Issue Detail**

Orange theme not there anymore.
Was there in 7.11.170608.
It's currently documented as existing.

* FireMotD version: 10.03.180725
* OS distribution: RHEL
* OS version: 7.5

**Expected Behavior**

Working Orange / orange theme

**Actual Behavior**

[code]

[2018-08-29 10:08] Tontonitch opened #127 "Advanced info only available through the 'Original' theme"
**Issue Type**

Bug report

**Issue Detail**

Maybe I miss something, but the advanced info (Apache, MySQL, PHP, ...) only available through the 'Original' theme.

* FireMotD version: 10.03.180725
* OS distribution: RHEL
* OS version: 7.5

**Expected Behavior**

All the themes can produce the advanced info.

**Actual Behavior**

Only the theme Original produces the advanced info.

[2018-08-29 13:27] willemdh commented on #125
@Tontonitch Hmm, I noticed that too, but imho the advantages of external theme files are worth it. I'm not going back to the hardcoded themes anyway. If I find some time I'll check if I can speed up things a bit. Maybe an extra option which displays a theme without the theme line parameters.

[2018-08-29 13:32] willemdh commented on #127
@Tontonitch Well it depends on how the theme template is constructed.

As I wanted to separate the data generation from the theme templates, it's also possible you are using the default 'basic' data template.

Can you try to execute:

`FireMotD -T Elastic -D all -S -d`

Does FireMotD show all info afterwards?

`FireMotD -T ELastic`

I admit this should be doucmented a bit more. :) Maybe a 'getting

[2018-08-29 13:43] Tontonitch commented on #127
I've tried the commands and don't get the expected results.

[code]
[code]

The info returned by FireMotD are still the basic ones (I expect php, httpd and mysql info):

|Info|
|:---------:|
|       Ip|
|  Release|
|   Kernel|
| Platform|
|   Uptime|
|CPU Usage|
| CPU Load|
|   Memory|
|     Swap|
|     Root|
|  Updates|
| Sessions|
|Processes|

[2018-08-29 14:20] willemdh commented on #127
Mjah php, httpd and mysql is idem not in most of the themes. They should probabaly be added.

[2018-09-11 17:16] septillion-git commented on #123
I can't seem to get FireMotD working on my second Pi. Installed it but if I run `FireMotd -t Modern` I get ```2018-09-11 19:07:42,289: FireMotD: Info: No FireMotD ExportFile detected. Please generate with "sudo .\FireMotD -S"```

Running `sudo FireMotD -d -S` I get
[code]

Also tried `sudo FireMotD -d -D all -S` I get
[code]
And still the same error if I try `FireMotD -t Modern`

[2018-09-11 21:29] willemdh commented on #123
The issue seems to be in "jq: error: syntax error, unexpected IDENT, expecting $end (Unix shell quoting issues?) at <top-level>, line 1:
.Release.Value = "PRETTY_NAME="Open Source Media Center""
jq: 1 compile error"

Not much time to help you out more for now, try the code in ExploreRelease function and output here pls. Also cat /usr/share/firemotd/data/FireMotD.json pls

[2018-10-20 14:46] hamwong opened #128 "after upgrade turn FireMotD slow on show up"
**Issue Type**
Slow
Bug report / Enhancement Request

**Issue Detail**
After I get upgrade from V.7.05.170509 to v10.03.180725, after around 2-3sec loading, it's show up line by line, each line about 0.8-1.x sec, On previous version, after loading, info will show all info immediately
* FireMotD version: 10.03.180725
* OS distribution: Debian
* OS version: Linux 9 (stretch)

**Expected Behavior**
I

[2018-10-22 15:09] willemdh commented on #128
@hamwong Hey, you are not the only one complainaing about slowness (https://github.com/OutsideIT/FireMotD/issues/125). On the 600 servers where I'm using it I don't experience a huge difference in speed. (I do notice the difference, but I found it neglectable)

I guess I should keep 1 hardcoded theme, which seems to be much faster on some platforms. I fear for now you better use and older version

[2018-10-22 18:09] hamwong commented on #128
thanks and apperciated, I will try to fallback then. thanks.

[2019-01-05 20:56] willemdh commented on #126
@Tontonitch Please try the latest version and use the install function. Orange theme should be working again. See https://github.com/OutsideIT/FireMotD/pull/131

[2019-01-05 20:56] #126 closed

[2019-01-06 12:46] willemdh commented on #128
@hamwong Please also try multithreading with https://github.com/OutsideIT/FireMotD/releases/tag/v11.02.190106
For example:
`./FireMotD -T Eline -MT`

This is still an experimental feature though.

[2019-01-06 12:47] willemdh commented on #125
@Tontonitch Please also try multithreading with https://github.com/OutsideIT/FireMotD/releases/tag/v11.02.190106
For example:
`./FireMotD -T Eline -MT`

This is still an experimental feature though.

[2019-01-07 12:48] mfTripleA opened #132 "Makefile issue line 42"
**Issue Type**
Bug report
**Issue Detail**
Basically I can't install it anymore. It throws the following error:
"Makefile:42: *** missing separator (did you mean TAB instead of 8 spaces?).  Stop."

Indeed at line 42 in Makefile there are 8 spaces instead of a tab. Switched to tab and it worked.
* FireMotD version: FireMotD v11.02.190106
* OS distribution: CentOS
* OS version: CentOS Linux release

[2019-01-08 10:21] mfTripleA commented on #132
I've crated a pull request on this issue. I have to mention that is only my second time doing a pull request so I if there is something I should've done it differently please let me know.

[2019-01-09 09:55] mfTripleA commented on #132
@willemdh no problem at all, I've checked and it's fixed.

Cheers!

[2019-01-09 09:55] #132 closed

[2019-01-11 10:02] hoetzgit opened #134 "Error while reading the PostgreSQL version"
**Issue Type**

Bug report

**Issue Detail**

FireMotD: The wrong variable is saved at line 541.

* FireMotD version: 11.02.190106
* OS distribution: Raspbian GNU/Linux 9 (stretch)
* OS version:

**Expected Behavior**

Variable "$PostgresVersion" is saved.

**Actual Behavior**

Variable "$NginxVersion" is saved.

**How to reproduce Behavior**

sudo /usr/local/bin/FireMotD -S -v
cat /usr/share/fire

[2019-01-12 10:16] willemdh commented on #128
Yeah the output is different. I will repopulate the themes with Nginx and Php in all themes. Also I think the `/usr/share/firemotd/cache` folder should be created with 777 permissions to be able to regenerate the cache files without sudo..

Could you try to:

[code]

And let me know if that improves your situation?

[2019-01-12 19:07] hamwong commented on #128
yes, your command mostly work, error msg is gone, but only appear as below, info is gone
`###############################################################################
###############  OpenhabianPi-Server  #########################################
###############################################################################
######################################################################

[2019-01-13 19:34] hamwong commented on #128
Hi, here you go, really apperciated your fully help
[code]

[2019-01-14 13:22] willemdh commented on #128
And the output of `FireMotD -R Elastic` and content of `/usr/share/firemotd/data/FireMotD.json`?

[2019-01-14 18:23] hamwong commented on #128
Excellet, after run FireMotD -G Elastic -d, then FireMotD -t Elastic, it come out now
thanks for help me out, sir, sould you mind update your fix way at REAMD page so everyone ulse may have a look when facing issue, I won't mind do it for you.

Really thanks

[2019-01-15 08:15] willemdh commented on #128
@hamwong
Feel free to submit a pr to improve the docs. Glad it's working for you now. You can generate caches for all themes with:
`FireMotD -G all -d`

[2019-01-27 14:18] willemdh commented on #134
Thanks for reporting @hoetzgit

Should be fixed in https://github.com/OutsideIT/FireMotD/releases/tag/v11.03.190127

[2019-01-27 14:18] #134 closed

[2019-01-27 14:18] willemdh commented on #128
Took some time to improve the readme a bit. Please check https://github.com/OutsideIT/FireMotD/releases/tag/v11.03.190127

[2019-01-27 14:18] #128 closed

[2019-02-06 20:06] abrowndb commented on #127
@willemdh With the latest version doesn't display APPs/V. Only Original theme displays any APPs that may be installed.

![2019-02-06_14-03-20](https://user-images.githubusercontent.com/20564722/52370365-4bc08280-2a18-11e9-9f47-a54710d2088b.png)
![2019-02-06_14-03-41](https://user-images.githubusercontent.com/20564722/52370366-4bc08280-2a18-11e9-953d-e5ad8b23d74a.png)

[2019-02-08 21:04] c250 commented on #127
I had the same issue until I generated the cache for all templates. Try running a FireMotD -G all -d then try again.

[2019-02-09 16:18] willemdh commented on #127
@c250 @abrowndb Regenerating the caches should help indeed. I'm not sure where it went wrong for you? The readme.md has been updated, see https://github.com/OutsideIT/FireMotD#generating-caches

As I'm using Ansible to distribute FireMotD, it's possible one of the other install methids (make / Install function) is missing something?

[2019-02-09 18:42] c250 commented on #127
@willemdh I was using make to perform my installation if that helps narrow it down. I had seen the generate cache option either here or on OutsideIT when I was first installing. I thought I had generated it, but I had some other issues which caused me to remove my initial install and reinstall. Took me a bit to remember to do it. This is the test for my homelab and it will be deployed out to my ot

[2019-02-10 12:45] willemdh opened #136 "Shellcheck Compliance"
**Issue Type**

Code Quality

**Issue Detail**

Latest versions are no longer 100 % Shellcheck compliant.

* FireMotD version: v11.03.190127
* OS distribution: All
* OS version: All

**Expected Behavior**

ShellCheck Passing

**Actual Behavior**

Shellcheck Failing

**How to reproduce Behavior**

Run ShellCheck

[2019-02-10 13:45] willemdh commented on #136
First step => https://github.com/OutsideIT/FireMotD/pull/137

[2019-02-11 15:08] abrowndb commented on #127
@willemdh I regenerated the cache on all templates multiple times.. Still no luck.

[2019-02-13 16:32] abrowndb commented on #127
@willemdh Still the same scenario.. when running FireMotD -G all -d the "Apps" are not reflected and as well I'm noticing IP change is not reflected

[2019-02-13 17:44] c250 commented on #127
@abrowndb I am by no means an expert having just gotten into deploying this and taking over systems with it already deployed on. However, are you seeing the categories and they are blank or are they not present at all?

In my instance, prior to generating the cache, I wasn't even seeing the categories (CPU Usage, CPU Load, Memory etc.) in the output. Once I generated the cache, they began to show.

[2019-02-28 15:23] willemdh opened #138 "Kibana Version cache hardcoded"
**Issue Type**

Bug report

**Issue Detail**

Kibana Version cache hardcoded

* FireMotD version: v11.04.190210

* Fix:

      KibanaRender="${PreKeyString}${KeyColor}${InfoKey} ${SeparatorColor}${Separator} ${ValueColor}Version: **\**$(jq -r ".Kibana.Version" $ExportFile)"

[2019-03-18 11:56] willemdh commented on #138
https://github.com/OutsideIT/FireMotD/releases/tag/v11.05.190318

[2019-03-18 11:56] #138 closed

[2019-03-18 11:56] willemdh commented on #136
https://github.com/OutsideIT/FireMotD/releases/tag/v11.05.190318

[2019-03-18 11:56] #136 closed

[2019-03-27 11:01] willemdh opened #141 "hostname is stil hardcoded in cache"
**Issue Type**

Enhancement Request

**Issue Detail**

hostname is stil hardcoded in cache

* FireMotD version: v11.05.190318
* OS distribution: CentOS 7
* OS version: 7.6.1810

**Expected Behavior**

Hostname should be read fromp export file

**Actual Behavior**

Hostname is hardcoded

**How to reproduce Behavior**

Change hostname and run FireMotD. Regenerating cache is required..

[2019-04-21 08:57] twalenzyk opened #143 "Feature request: Temperature reporting"
**Issue Type**

Enhancement Request

**Issue Detail**

* FireMotD version:  v11.05.190318
* OS distribution:   Raspbian GNU/Linux 9 (stretch)
* OS version:          Linux 4.14.98-v7+

**Feature Request**
I would like to add the CPU temperature to the printout.
I'm running openHABian on a Raspberry and tried the following command:
`vcgencmd measure_temp`
which is giving this output:

[2020-01-10 11:52] trumbaut opened #152 "Feature Request: display available memory instead of used+buffers/cache"
Currently, memory usage is shown based on `used` + `buffers/cache` counters (https://github.com/OutsideIT/FireMotD/blob/master/FireMotD#L401), for example:

[code]

This is confusing for less experienced users (cfr. https://www.linuxatemyram.com/). It might be useful to display available memory instead/too, based on the available parameter of the `free` command:

[code]

[2020-01-12 18:10] willemdh opened #153 "Auto detect dnf"
Bug report

`Updates => 1 yum updates available.` on CentOS 8

* FireMotD version: v12.05.191019
* OS: CentOS 8

**Expected Behavior**

`Updates => 1 **dnf** updates available.`

[2020-06-05 11:48] mstormi opened #154 "Ubuntu 20.04"
Bug report

We're bundling FireMotD as part of openHABian. I didn't encounter myself but received the following report from _two_ people:

RAM percentage didn't work, and i've the error:
/usr/local/bin/FireMotD: line 149: ((: 10#3 > 10#UNKNOWN: value too great for base (error token is "10#UNKNOWN")
/usr/local/bin/FireMotD: line 153: ((: 10#3 < 10#UNKNOWN: value too great for base (error token is "

[2020-06-14 13:21] openPhiL commented on #154
I encounter the problem in case hands-on is needed.
I could deliver a proxmox-backup from a lxc container that has this issue.

[2020-06-19 09:32] willemdh commented on #154
Unfortunately I'm very limited in time currently, so not sure when I'll be able to fix this.

[2020-06-19 12:47] dimon222 commented on #154
Might he some package having `rc` or starting with `0` for version. Basically, it couldn't identify version difference correctly.

[2020-10-17 12:17] mstormi opened #156 "Unable to parse ip"
###############################################################################
###############  openHABianDevice  ############################################
###############################################################################
##        Ip = Unable to parse ip . Please debug.
##   Release = Raspbian GNU/Linux 10 (buster)
##    Kernel = Linux 5.4.51-v7+
##  Platform = Raspberry Pi 3 Mo

[2020-10-17 12:21] mstormi commented on #154
Do you still maintain FireMotD ?

[2020-10-18 16:39] willemdh commented on #154
Im currently working on some other projects and got my handsful. Also, im only using on centos, for other os'es i cant help. Feel free to submit a pr and ill happily accept it.

[2020-11-27 20:56] CupricReki commented on #154
The issue is with procps version 2:3.3.16-1. The issue is fixed in 2:3.3.16-5. Find your version with dpkg -l procps.

[2020-12-01 20:44] KHOne23 commented on #154
how can i update procps to 2:3.3.16-5??

[2020-12-12 15:51] grivetto commented on #154
Hi
I've done this way (on a flavour of Ubuntu 20.04 LTS ( KDE neon User Edition 5.2 or https://www.linuxfx.org/)
after checking procps (sudo dpkg -l procps)
I made new ones from https://github.com/warmchang/procps.git
and FireMotD does not complain  anymore about this error:  10#3 > 10#UNKNOWN: value too great for base (error token is "10#UNKNOWN

Ciao

Sergio

[2021-08-09 15:57] sghebuz commented on #154
you can downdload a new version from here https://launchpad.net/ubuntu/+source/procps/2:3.3.16-5ubuntu1/+build/19433805

 wget https://launchpad.net/ubuntu/+source/procps/2:3.3.16-5ubuntu1/+build/19433805/+files/procps_3.3.16-5ubuntu1_amd64.deb
apt install ./procps_3.3.16-5ubuntu1_amd64.deb

[2022-08-28 19:55] johnfoxii commented on #87
I am getting this error in version 12 of FireMotD
# Version:      v12.05.191019

    Release="$(echo "$ReleaseFull" | tail -1)"
  elif echo "$ReleaseFull" | grep -E '**(Debian)'** >/dev/null ;

did you notice $ReleaseFull
**ID=debian**
you are grepping for **Debian**